/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/

app/node_modules
app/public/hot
app/public/storage
app/storage/*.key
app/vendor
app/.env
app/.env.backup
app/.phpunit.result.cache
app/Homestead.json
app/Homestead.yaml
app/npm-debug.log
app/yarn-error.log
app/.idea/
